node_modules
vendor
.env
.env.*.php
.env.*.local
.DS_Store
.git
.gitignore
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
.idea
.vscode
*.swp
*.swo
*~
npm-debug.log
composer.lock
yarn.lock
